<meta charset="utf-8">
<title>My Code Bay</title>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<script src="javascripts/playsnd.js"></script>
<audio id='mySound' src='sound/swed.mp3' type="audio/mpeg"></audio>