<div id="menu">
   <ul>
        <li><a href="index">Главная</a></li>
        <li><a href="games">Игры</a></li>
        <li><a href="media">Медиа</a></li>
        <li><a href="about">О сайте</a></li>
   </ul>
</div>