<div id="menu">
   <ul>
        <li><a href="index">About</a></li>
        <li><a href="articles">Articles</a></li>
        <li><a href="programs">Programs</a></li>
        <li><a href="links">Links</a></li>
   </ul>
</div>