<div id="main">
    <a href="index" class="link">Главная</a><span>/</span>
    <a href="games" class="link">Игры</a><span>/</span>
    <a href="media" class="link">Медиа</a><span>/</span>
    <a href="about" class="link">О сайте</a>
</div>