<div id="menu">
   <ul>
        <li><a href="index" id="nav_index">About</a></li>
        <li><a href="articles" id="nav_articles">Articles</a></li>
        <li><a href="programs" id="nav_programs">Programs</a></li>
        <li><a href="links" id="nav_links">Links</a></li>
   </ul>
</div>