@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing:border-box;
}

a 
{
    color:#ffffff;
    text-decoration: none;
    font-weight: 600;
}

a:hover
{
    color:#dc785a;
    text-decoration:underline;
}

body 
{
  margin: 0;
  padding: 0;
  background-color: #a2ddfc;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #4b6775;
}

h1 
{
    font-size: 2em;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

h2
{
    font-size: 1.6em;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#wrapper
{
  min-width: 802px;
  margin: 0 auto;
  padding: 0 auto;
}

#main
{
  width: 802px;
  margin: 0 auto;
}

#banner
{
  height: 240px;
  margin: 1em 0 0.45em 0;
  background-image: url("../img/banner.png");
  background-repeat: no-repeat;
}

#content
{
  display: block;
  float: left;
  margin: 0 0 2em 0.45em;
  padding: 0 1.40em 0 1.40em;
  width: 79%;
}

#menu
{
  display:block;
  float: left;
  width: 20%;
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
#menu li {
  font: 200 1.38em Helvetica, Verdana, sans-serif;
  line-height: 2em;
  border-bottom: 1px solid #ccc;
}
 
#menu li:last-child {
  border: none;
}
 
#menu li a {
  text-decoration: none;
  color: #54829B;
  display: block;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
#menu li a:hover {
  font-size: 1.55em;
  background: #f6f6f6;
}

#menu li #nav_selected
{
    font-size: 1.55em;
    background: #f6f6f6;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;
}

/*<Articles content>*/

.article
{
  margin: 0 0 4em 0;
  display:block;
  clear: both;
}

.article .header
{
    font-size:1.31em;
    margin: 0 0 0 0;
    color:#455e6b;
}

.article .description
{
  text-transform: uppercase;
  font-size: 0.85em;
}

.article .text
{
  line-height: 1.8em;
}

.article #btn_reveal
{
  color:#606D7C;
  font-size: 0.85em;
  float: right;
  margin: 0 2.5% 0 0;
  text-transform: uppercase;
  text-decoration: none;
}

.article #btn_reveal:hover
{
  color:#97797d;
  text-decoration:underline;
}

.article .reveal
{
    display: none;
}

/*</Articles content>*/

/*<Program content>*/

.program
{
  display:block;
  padding 0 0 0 0;
}

.program .header
{
  margin: 0 auto;
  line-height: 1.85em;
  font-family: "Corbel";
  background: #42677a;
  color:azure;
  padding: 0 0 0 2em;
  font-size: 1.60em;
}

.program .img
{
  display:inline;
  float: left;
  padding: 0 0.75em 0.5em 0;
}

.program .description
{
  display: inline;
  line-height: 1.43em;
  font-weight: normal;
}

.program .text
{
  clear: left;
  font-size: 1.05em;
  line-height: 1.55em;
}

.program .reveal
{
  font-size: 1.05em;
  font-weight: lighter;
  text-align: right;
}

.program .underline
{
    background:#54829B;
    border:0;
    height:5px;
}

/*</Program content>*/


#footer
{
  background-color: #ffffac;
  clear:left;
  text-align: right;
  padding: 0 0 0.1em 0;
}

#footer >p
{
  font-size: 2em;
  line-height: 0em;
  padding: 30px 30px 0 0;
}