<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
    <title>Мой сайт(GeekBrains)</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
   <script src="javascripts/playsnd.js"></script>
    <audio id='mySound' src='sound/swed.mp3' type="audio/mpeg"></audio>
</head>
<body>
    <div id="main">
        <a href="index" class="link">Главная</a><span>/</span>
        <a href="games" class="link">Игры</a><span>/</span>
        <a href="media" class="link">Медиа</a><span>/</span>
        <a href="about" class="link">О сайте</a>
    </div>
    <div id="content">
        <center><font size=80>404</font></center>
        <div id="img_box">
            <p><img src="img/Tree-0.png" width="256" height="256" alt="Acacia из Windows 95"></p>
        </div>
        <p>Sorry, nothing.</p>
    </div>
    <div id="copyright">Copyright 2016<img src="img/snoop.gif" title="BLAZE IT!" height=20 width=20 alt="BLAZE IT!"><a href="#" onclick="PlaySound('mySound')">©</a></div>
</body>
</html>