<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
    <title>Мой сайт(GeekBrains)</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
   <script src="javascripts/playsnd.js"></script>
    <script>
    function sendData()
    {
        var answer=document.getElementById("userAnswer1").value
        var answer2=document.getElementById("userAnswer2").value
        alert("В первой строке введено: "+answer)
        alert("Во второй строке: "+answer2)
    }
    </script>
    <audio id='mySound' src='sound/swed.mp3' type="audio/mpeg"></audio>
</head>
<body>
    <div id="main">
        <a href="index" class="link">Главная</a><span>/</span>
        <a href="games" class="link">Игры</a><span>/</span>
        <a href="media" id="selected" class="link">Медиа</a><span>/</span>
        <a href="about" class="link">О сайте</a>
    </div>
    <div id="content">
        <h1>Медиа</h1>
        <img src="img/Tree-0.png" width="256" height="256" alt="Acacia из Windows 95">
        <div id="box_text">
           <p>MLG PRO:<br>
              <a href="https://www.youtube.com/watch?v=x5xd-J3hE48">MLJACKIE CHAN</a>
           </p> 
        </div>
    </div>
    <div id="copyright">Copyright 2016<img src="img/snoop.gif" title="BLAZE IT!" height=20 width=20 alt="BLAZE IT!"><a href="#" onclick="return PlaySound('mySound')">©</a></div>
</body>
</html>