<!DOCTYPE HTML>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
    <% include ../partials/nav.ejs %>
    <div id="content">
        <center><font size=80>404</font></center>
        <% include ../partials/img_logo.ejs %>
        <p>Sorry, nothing.</p>
    </div>
    <% include ../partials/copyright.ejs %>
</body>
</html>