<!DOCTYPE HTML>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
    <% include ../partials/nav.ejs %>
    <div id="content">
        <h1>О сайте</h1>
        <div id="box_text_about">
            <div id="illu_box">
                <div class="illu_span">
                    <br><br>
                    ───────────────███───────────────<br>
                    ─────────────██▀─▀██─────────────<br>
                    ───────────██▀─────▀██───────────<br>
                    ─────────██▀──▄▄▄▄▄──▀██─────────<br>
                    ───────██▀──▄▀─────▀▄──▀██───────<br>
                    ─────██▀──▄▀───███───▀▄──▀██─────<br>
                    ───██▀────▀▄───▀▀▀───▄▀────▀██───<br>
                    ─██▀────────▀▄▄▄▄▄▄▄▀────────▀██─<br>
                    █▀─────────────────────────────▀█<br>
                    █████████████████████████████████<br>
                    ─────────────────────────────────<br>
                    ───────────▀█▀─█─█─█▀▀───────────<br>
                    ────────────█──█▀█─█▀▀───────────<br>
                    ────────────▀──▀─▀─▀▀▀───────────<br>
                    ─────────────────────────────────<br>
                    ▀─█─█─█──█─█▀▄▀█─█─█▄─█─█▀█─▀█▀─█<br>
                    █─█─█─█──█─█─▀─█─█─█▀██─█▄█──█──█<br>
                    ▀─▀─▀─▀▀▀▀─▀───▀─▀─▀──▀─▀─▀──▀──▀<br>
                </div>
            </div>
            <br><br><br>
            ©Some guy from the internet.
        </div>
    </div>
    <% include ../partials/copyright.ejs %>
</body>
</html>