<!DOCTYPE html>
<html>
<head>
<% include ../partials/header.ejs %>
</head>
<body>
    <div id="wrapper">
        <div id="main">
            <% include ../partials/banner.ejs %>
            <% include ../partials/nav.ejs %>
            <div id="content">
                <h1>Articles</h1>
                <div id="article">
                    <div id="header">
                        <p>Reasons behind bad PC performance</p>
                    </div>
                    <div id="description">
                        <p>Posted at 15:36 20.11.16 by Htresnal</p>
                    </div>
                    <div id="text">
                        <p>    I’m pretty obsessed with PC performance problems, and it begun as the reason for my long time investigation on the reasons why a PC may lag, stutter, freeze, or misbehave in any other way possible.
                        As anything that has something to do with PC, its always complex, multilayered, chain-connected with each other.
                        That’s why I’ve made a lookup list of possible problems. I’ve also split it in categories, corresponding with hardware, software and CPU\bottleneck overload problems.</p>
                        
                        <p>No matter what you are going to try - you can't teach an old dog new tricks. CPU bottlenecks are the main reason you would love to have the most new CPU model out there. But, sadly, even the new, the most powerful CPU is not always the best choice. Bottlenecks in CPU memory speed and size, RAM, Harddrive, Motherboard, faulty and unoptimized peripherals can cause more trouble, than the most genius CPU engineers can help you with, by providing few more hertz.</p>

                        <p>Bad and dirty coding, poor engine structure decisions, code that ignores good and bad sides of the hardware, make companies produce a cannonade of patch releases, monthly or weekly. Sometimes - its an optimization that increases the performance, and then it could be a new technique, that will slow PC down, instead.</p>

                        <p>The real reasons are usually way more complex for us to simply point our fingers at. Sometimes, problem is fixed program side, driver side, OS side. Sometimes, its caused by hardware units not being able to work together, so the only way to fix that is to replace one of them.</p>
                        
                        <p>Sometimes, you think you need the prettiest picture you can get, and what bottlenecks your system this time is videocard, but sometimes, CPU can be a part of it, too, when producing physics\particles and etc. Gladly, some games allow you to change certain engine numbers. If you're not a fan of particles, but you cannot stand a low quality textures - you can easily change it, sustaining the balance between a good looking, yet decently performing game.</p>
                        
                        <p>Shaders, shadows(or lighting), physics emulation and particles are 4 the most performance damaging settings you can find in a game\program. Textures and models are usually have a decent optimization.</p>
                        
                        <p>Another way to ruin performance with software is “Garbage hoarding”: agent programs, messengers, mailers, update checkers, some unknown antiviruses or “system boosters”.. not only they're harmful to your PC performance, they could easily be a great opportunity for viruses to get into your PC.
                        </p>
                    </div>
                    <!--
                    <div id="reveal">
                        <p>SHOW MORE</p>
                    </div>
                    -->
                </div>
                <div id="article">
                    <div id="header">
                        <p>My second article</p>
                    </div>
                    <div id="description">
                        <p>Posted at 15:37 20.11.16 by Htresnal</p>
                    </div>
                    <div id="text">
                        <p>This is the test article №2</p>
                    </div>
                    <!--
                    <div id="reveal">
                        <p>SHOW MORE</p>
                    </div>
                    -->
                </div>
            </div>
        </div>
        <% include ../partials/copyright.ejs %>
    </div>
</body>
</html>
