<!DOCTYPE html>
<html>
<head>
<% include ../partials/header.ejs %>
</head>
<body>
    <div id="wrapper">
        <div id="main">
            <% include ../partials/banner.ejs %>
            <% include ../partials/nav.ejs %>
            <div id="content">
                <h1>Articles</h1>
                <div id="article">
                    <div id="header">
                        <p>Explanation of problem relevant infuriations</p>
                    </div>
                    <div id="description">
                        <p>Posted at 15:36 20.11.16 by Htresnal</p>
                    </div>
                    <div id="text">
                        <p>This is the test article</p>
                    </div>
                    <!--
                    <div id="reveal">
                        <p>SHOW MORE</p>
                    </div>
                    -->
                </div>
                <div id="article">
                    <div id="header">
                        <p>My second article</p>
                    </div>
                    <div id="description">
                        <p>Posted at 15:37 20.11.16 by Htresnal</p>
                    </div>
                    <div id="text">
                        <p>This is the test article №2</p>
                    </div>
                    <!--
                    <div id="reveal">
                        <p>SHOW MORE</p>
                    </div>
                    -->
                </div>
            </div>
        </div>
        <% include ../partials/copyright.ejs %>
    </div>
</body>
</html>
