<!DOCTYPE html>
<html>
<head>
<% include ../partials/header.ejs %>
</head>
<body onload="setCurrentMenu();">
    <div id="wrapper">
        <div id="main">
            <% include ../partials/banner.ejs %>
            <% include ../partials/nav.ejs %>
            <div id="content">
                <h1>Welcome to My Code Bay</h1>
                <p>This website was made as a personal handbook for articles, showcase for my programs and interesting links. Here you may find stuff about programming, PC performance and bug dealing.</p>
                <p>My name is Sergey Lunev. I'm a programmer, and I have some projects made with C++, Java and Javascript.
                </p>
                <p>My original degree is "Philology. Russian language teacher". But now I'm gravitating towards IT and programming.<br>
                After I've succeed in learning C++, I felt like it would be better to base my life around more interesting stuff, rather than being a teacher\librarian.<br>
                I'm planning on getting a technician degree any time soon.<br>
                </p>
                <p>Projects like:<br>
                <strong>Damage Analysis Tool</strong> - Works similar to a game engine. My first big program. Copies data from the original game files, emulating in-game processes.  <br>
                <strong>LPT Port Controller</strong> - My first attempt in non-trivial hardware access. Allows control over LPT data channels, and can be used for testing LPT, controlling robots and etc.<br><strong>File Thrower</strong> - I've made it on both Java and C++, but only decided to post the Java version. Its the file transmitter programm, that allows you to connect by IP address, and send a file over the network. Runs the file, if both the sender and the receiver are agreed to open the file after load(corresponding check is set on at both sides).             
                </p>
                <p>If you're interested in this website's sources, you may find them at <a href="https://github.com/Htresnal/MyCodeBayWebsite">my GitHub repository</a></p>
            </div>
        </div>
        <% include ../partials/copyright.ejs %>
    </div>
    <script src="javascripts/menuSelector.js"></script>
</body>
</html>
