<!DOCTYPE html>
<html>
<head>
<% include ../partials/header.ejs %>
</head>
<body>
    <div id="wrapper">
        <div id="main">
            <% include ../partials/banner.ejs %>
            <% include ../partials/nav.ejs %>
            <div id="content">
                <h1>Welcome to My Code Bay</h1>
                <div id="box_text">
                    <p>This website was made as a personal handbook for articles, showcase for my programs and interesting links. Here you may find stuff about programming, PC performance and bug dealing.</p>
                    <p>My name is Sergey Lunev. I'm a programmer, and had to deal with C++, Java and Javascript.
                    </p>
                    <p>If you're interested in this website's sources, you may find them <a href="https://github.com/Htresnal/MyCodeBayWebsite">at my GitHub account</a></p>
                </div>
            </div>
        </div>
        <% include ../partials/copyright.ejs %>
    </div>
</body>
</html>
