<!DOCTYPE html>
<html>
<head>
<% include ../partials/header.ejs %>
</head>
<body>
    <div id="wrapper">
        <div id="main">
            <% include ../partials/banner.ejs %>
            <% include ../partials/nav.ejs %>
            <div id="content">
                <h1>Welcome to My Code Bay</h1>
                <div id="box_text">
                    <h2>Lorem ipsum</h2>
                    <p>Dolor sit amet, in nibh solum quo, te nam *iudico instructior. Pri causae labores eu. Laudem postea postulant per et, id pri detracto sententiae omittantur. Etiam dicit persius an vix. Eum in nihil dictas, meis errem consul cu vim, no eam soleat denique officiis. Pri ne utamur impetus, ius albucius legendos salutatus at, cetero fierent facilisi cu eos.</p>
                    <p>Ad mei verear commune eloquentiam. Melius labores <a href="https://geekbrains.ru/courses/2">sneaky MLG</a> corrumpit et *vix, agam exerci accommodare nec ut. Per in oblique delicata. Vis dicat graecis cu, at falli quando discere est. Ubique graecis at his. Wisi habeo primis ius ut.</p>
                    <p>mnes maiorum cum id, ei has officiis assueverit, ei his wisi laudem. Ei doctus viderer menandri his, erat legimus te has, erant possit instructior has at. Impetus deseruisse sed et, at eam error vidisse. Ne ius latine laboramus, nam inani exerci habemus at, at eam stet mundi alienum. Ea cum purto vide. Usu dolorum deleniti ne.</p>
                    <p>Vim te essent persecuti mediocritatem, cu vel posse saperet constituam. Vix magna mentitum apeirian ea, eum et modo elit accumsan. Splendide conclusionemque cu cum. Ius et illum altera efficiendi, utinam fabellas definitiones eu vim.</p>
                    <p>Quaeque nonumes vim at, an quis porro eum. Tantas sapientem qui et, malorum consulatu deterruisset et nec. Quo novum periculis an, in has populo explicari. Epicuri apeirian no has, voluptua consectetuer in nec. At sea diam causae scaevola.</p>
                </div>
            </div>
        </div>
        <% include ../partials/copyright.ejs %>
    </div>
</body>
</html>
