<!DOCTYPE html>
<html>
<head>
<% include ../partials/header.ejs %>
</head>
<body>
    <div id="wrapper">
        <div id="main">
            <% include ../partials/banner.ejs %>
            <% include ../partials/nav.ejs %>
            <div id="content">
                <h1>My links</h1>
                <div id="box_text">
                    <h2>C++ related links:</h2>
                    <p><a href="https://www.youtube.com/user/CppCon">CppCon Youtube Channel</a><br><br>
                        
                    <a href="https://www.youtube.com/user/CppCon">CppCon Youtube Channel</a><br><br>
                    
                    <strong>Links in russian:</strong><br>
                    <a href="http://web.archive.org/web/20160709230445/http://rsdn.ru/">RSDN.ru(Down since June 2016. Web.Archive mirror)</a><br><br>
                    
                    <a href="http://forum.sources.ru/index.php?showforum=2">Sources.ru</a><br><br>

                    <a href="http://forum.vingrad.ru/forum/s/f7863b7c1a08a8df8bdd14a092075041/C++C.html">VINGRAD</a><br><br>
                        
                    <a href="http://forum.vingrad.ru/forum/s/f7863b7c1a08a8df8bdd14a092075041/C++C.html">VINGRAD</a><br><br>
                        
                    <a href="http://www.codeproject.com/Articles/19218/Some-of-the-Best-Open-Source-Project-s-in-VC-MFC">Good opensource programs to learn from</a><br><br>
                       
                    <a href="http://www.embedded.com/">Everything about embedded systems</a><br><br>
                        
                    <a href="http://forum.developing.ru/forumdisplay.php/25-C-%D0%B8-C?s=281bccb4bd235fa8ff16069a1c7bea5b">Developing.ru</a><br><br>
                    
                    <a href="http://www.programmersforum.ru/forumdisplay.php?s=4a1aefc8e7b1c58abcd2c81553386e40&f=14">Programmers club</a><br><br>
                        
                        
                    </p>
                    <h2>Java related links:</h2>
                    <h2>Javascript related links:</h2>
                </div>
            </div>
        </div>
        <% include ../partials/copyright.ejs %>
    </div>
</body>
</html>
