<!DOCTYPE html>
<html>
<head>
<% include ../partials/header.ejs %>
</head>
<body>
    <div id="wrapper">
        <div id="main">
            <% include ../partials/banner.ejs %>
            <% include ../partials/nav.ejs %>
            <div id="content">
                <h1>My programs</h1>
                <div id="program">
                    <div id="header">
                        <p>Ultra long arithmetics</p>
                    </div>
                    <div id="img">
                        <img src="img/programs/UltraLong.png" width="280" height="160" alt="Ultra long arithmetics">
                    </div>
                    <div id="description">
                        <p><strong>Date:</strong>&nbsp15.11.2016<br>
                        <strong>File size:</strong>&nbsp2.85Mb<br>
                        <strong>Programming language:</strong>&nbspC++<br>
                        <strong>OS:</strong>&nbspWindows 7<br>
                        <strong>Dependencies:</strong>&nbspGMP library<br>
                        <strong>Link:&nbsp<a href="https://github.com/Htresnal/UltraInts/releases/download/0.1/UltraInts.zip">DOWNLOAD</a></strong><br>
                        <hr>
                        </p>
                    </div>
                    <div id="text">
                        <p>Made to test the strenght of PC's math</p>
                    </div>
                    <!--
                    <div id="reveal">
                        <p>SHOW MORE</p>
                    </div>
                    -->
                </div>
                <div id="program">
                    <div id="header">
                        <p>FileThrower. Client and server</p>
                    </div>
                    <div id="img">
                        <img src="img/programs/fileThrower_client.png" width="280" height="160" alt="FileThrower client application"><br>
                        <img src="img/programs/fileThrower_server.png" width="280" height="160" alt="FileThrower client application">
                    </div>
                    <div id="description">
                        <p><strong>Date:</strong>&nbsp20.11.2016<br>
                        <strong>File size:</strong>&nbsp6.94Mb, 6.94Mb<br>
                        <strong>Programming language:</strong>&nbspJava<br>
                        <strong>OS:</strong>&nbspWindows 7<br>
                        <strong>Dependencies:</strong>&nbspJDE 1.8.0_102<br>
                        <strong>Link:&nbsp<a href="https://github.com/Htresnal/FileThrower-Client-/releases/download/fthrower/FileThrowerCL-1.0.jar">DOWNLOAD(Client)</a></strong>,&nbsp<strong><a href="https://github.com/Htresnal/FileThrower-Server-/releases/download/fthrower/FileThrower-SV.jar">DOWNLOAD(Server)</a></strong><br>
                        <hr>
                        </p>
                    </div>
                    <div id="text">
                        <p>Simple program, made to transfer files over socket connection. Client can select the file needed.</p>

                        <p>Usage tip: If both Client and Server have their "Open file" checkboxes on, Server will force-open the downloaded file.</p>
                    </div>
                    <!--
                    <div id="reveal">
                        <p>SHOW MORE</p>
                    </div>
                    -->
                </div>
            </div>
        </div>
        <% include ../partials/copyright.ejs %>
    </div>
</body>
</html>
