<!DOCTYPE html>
<html>
<head>
<% include ../partials/header.ejs %>
</head>
<body onload="setCurrentMenu();">
    <div id="wrapper">
        <div id="main">
            <% include ../partials/banner.ejs %>
            <% include ../partials/nav.ejs %>
            <div id="content">
                <div class="program">
                    <div class="header">
                        <p>Ultra long arithmetics</p>
                    </div>
                    <div class="img">
                        <img src="img/programs/UltraLong.png" width="280" height="160" alt="Ultra long arithmetics">
                    </div>
                    <div class="description">
                        <p><strong>Date:</strong>&nbsp15.11.2016<br>
                        <strong>File size:</strong>&nbsp2.85Mb<br>
                        <strong>Programming language:</strong>&nbspC++<br>
                        <strong>OS:</strong>&nbspWindows 7<br>
                        <strong>Dependencies:</strong>&nbspGMP library<br>
                        <strong>Repository:&nbsp<a href="https://github.com/Htresnal/UltraInts">GitHub.com</a></strong><br>
                        <strong>Link:&nbsp<a href="https://github.com/Htresnal/UltraInts/releases/download/0.1/UltraInts.zip">DOWNLOAD</a></strong><br>
                        <hr class="underline">
                        </p>
                    </div>
                    <div class="text">
                        <p>Made to test the strenght of PC's math</p>
                    </div>
                    <!--
                    <div class="reveal">
                        <p>SHOW MORE</p>
                    </div>
                    -->
                </div>
                <div class="program">
                    <div class="header">
                        <p>FileThrower. Client and server</p>
                    </div>
                    <div class="img">
                        <img src="img/programs/fileThrower_client.png" width="280" height="160" alt="FileThrower client application"><br>
                        <img src="img/programs/fileThrower_server.png" width="280" height="160" alt="FileThrower client application">
                    </div>
                    <div class="description">
                        <p><strong>Date:</strong>&nbsp20.11.2016<br>
                        <strong>File size:</strong>&nbsp6.94Mb, 6.94Mb<br>
                        <strong>Programming language:</strong>&nbspJava<br>
                        <strong>OS:</strong>&nbspWindows 7<br>
                        <strong>Dependencies:</strong>&nbspJDE 1.8.0_102<br>
                        <strong>Repository:&nbsp<a href="https://github.com/Htresnal/FileThrower-Client-">GitHub.com(Client)</a></strong>
                        <strong>&nbsp<a href="https://github.com/Htresnal/FileThrower-Server-">GitHub.com(Server)</a></strong><br>
                        <strong>Link:&nbsp<a href="https://github.com/Htresnal/FileThrower-Client-/releases/download/fthrower/FileThrowerCL-1.0.jar">DOWNLOAD(Client)</a></strong>,&nbsp<strong><a href="https://github.com/Htresnal/FileThrower-Server-/releases/download/fthrower/FileThrower-SV.jar">DOWNLOAD(Server)</a></strong><br>
                        <hr class="underline">
                        </p>
                    </div>
                    <div class="text">
                        <p>Simple program, made to transfer files over socket connection. Client selects the needed file and sends it to the Server.</p>

                        <p>Usage tip: If both Client and Server have their "Open file" checkboxes on, Server will force-open the downloaded file.</p>
                    </div>
                    <!--
                    <div class="reveal">
                        <p>SHOW MORE</p>
                    </div>
                    -->
                </div>
                <div class="program">
                    <div class="header">
                        <p>Damage Analysis Tool</p>
                    </div>
                    <div class="img">
                        <img src="img/programs/DamageAnalysisTool.png" width="280" height="160" alt="FileThrower client application"><br>
                        <img src="img/programs/DamageAnalysisTool_output.png" width="280" height="160" alt="FileThrower client application">
                    </div>
                    <div class="description">
                        <p><strong>Date:</strong>&nbsp30.11.2016<br>
                        <strong>File size:</strong>&nbsp11.1Mb<br>
                        <strong>Programming language:</strong>&nbspC++<br>
                        <strong>Version:</strong>&nbsp0.4.1<br>
                        <strong>OS:</strong>&nbspWindows 7<br>
                        <strong>Dependencies:</strong>&nbspwxWidgets 3.1.0<br>
                        <strong>Repository:&nbsp<a href="https://github.com/Htresnal/DamageAnalysisTool">GitHub.com</a></strong>
                        <strong>Link:&nbsp<a href="https://github.com/Htresnal/DamageAnalysisTool/releases/download/DAT/DamageAnalysisTool_v0.4.1.zip">DOWNLOAD</a></strong>
                        <hr class="underline">
                        </p>
                    </div>
                    <div class="text">
                        <p>Customizable battle log emulator. Recreates the fight hitwise(1 hour process will be calculated in seconds)<br>
                        Applicable effects available.</p>

                        <p>Uses the game files to achieve actual game information.</p>
                    </div>
                    <!--
                    <div class="reveal">
                        <p>SHOW MORE</p>
                    </div>
                    -->
                </div>
            </div>
        </div>
        <% include ../partials/copyright.ejs %>
    </div>
    <script src="javascripts/menuSelector.js"></script>
</body>
</html>
